body{
    background-color: #aaa;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.d-flex{
    display: flex;
}
.align-items-center{
    align-items: center;
}
.justify-content-around{
    justify-content: space-around;
}
.red{
    color: red;
}
.copyrights{
    margin: 20px 0;
}