#wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
}
.gray-tooltip {
    --bs-tooltip-bg: var(--bs-gray);
    --bs-tooltip-color: var(--bs-white);
}